<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Hello Pairmotron!</title>
    <link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>
    <nav role="navigation" class="navbar navbar-default navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <%= link "Pairmotron", to: pair_path(@conn, :index), class: "logo navbar-brand" %>
        </div>
        <div class="collapse navbar-collapse" id="navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li><%= link "Pairs", to: pair_path(@conn, :index) %></li>
            <li><%= link "Groups", to: group_path(@conn, :index) %></li>
            <li><%= link "Projects", to: project_path(@conn, :index) %></li>
            <li><%= link "My Retros", to: pair_retro_path(@conn, :index) %></li>
            <li><%= link "Profile", to: profile_path(@conn, :show) %></li>
              <%= case @conn.assigns[:current_user] do %>
                <% nil -> %>
                  <%= link "Login", class: "btn btn-success navbar-btn", role: "button", to: session_path(@conn, :new) %>
                <% _current_user -> %>
                  <li><%= link "Logout", to: session_path(@conn, :delete) %></li>
              <% end %>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container">

      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>

      <main role="main">
        <%= render @view_module, @view_template, assigns %>
      </main>

    </div> <!-- /container -->
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
