<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Hello Pairmotron!</title>
    <link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>
    <div class="container">
      <header class="header">
        <nav role="navigation">
          <ul class="nav nav-pills pull-right">
            <li><%= link "Pairs", to: page_path(@conn, :index) %></li>
            <li><%= link "Groups", to: group_path(@conn, :index) %></li>
            <li><%= link "Projects", to: project_path(@conn, :index) %></li>
            <li><%= link "My Retros", to: pair_retro_path(@conn, :index) %></li>
            <li><%= link "Profile", to: profile_path(@conn, :show) %></li>
            <li>
              <%= case @conn.assigns[:current_user] do %>
                <% nil -> %>
                  <%= link "Login", class: "btn btn-success", role: "button", to: session_path(@conn, :new) %>
                <% _current_user -> %>
                  <%= link "Logout", class: "btn btn-danger", role: "button", to: session_path(@conn, :delete) %>
              <% end %>         
            </li>
          </ul>
        </nav>
        <span class="logo"><%= link "Pairmotron", to: page_path(@conn, :index) %>
</span>
      </header>

      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>

      <main role="main">
        <%= render @view_module, @view_template, assigns %>
      </main>

    </div> <!-- /container -->
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
