<h2>Edit Group (Admin)</h2>

<%= render "form.html", changeset: @changeset,
                        action: admin_group_path(@conn, :update, @group),
                        users: @users %>

<%= link "Back", to: admin_group_path(@conn, :index) %>
