<h2>New Group (Admin)</h2>

<%= render "form.html", changeset: @changeset,
                        action: admin_group_path(@conn, :create),
                        users: @users %>

<%= link "Back", to: admin_group_path(@conn, :index) %>
