<h2>Show group</h2>

<ul>

  <li>
    <strong>id:</strong>
    <%= @group.id %>
  </li>

  <li>
    <strong>Name:</strong>
    <%= @group.name %>
  </li>

  <li>
    <strong>Owner:</strong>
    <%= if is_nil(@group.owner) do %>
      (none)
    <%= else %>
      <%= link @group.owner.name, to: admin_user_path(@conn, :show, @group.owner) %></td>
    <%= end %>
  </li>

</ul>

<%= link "Edit", to: admin_group_path(@conn, :edit, @group) %>
<%= link "Back", to: admin_group_path(@conn, :index) %>
