<h2>Groups</h2>

<div class="row">
  <div class="col-md-8 col-sm-12 col-xs-12">
    <ul class="list-group">
      <%= for group <- @groups do %>
        <li class="list-group-item">
          <h4><%= link group.name, to: group_path(@conn, :show, group) %> <small><%= truncate("group description", 70) %></small></h4>
          <%= render "group_actions.html", conn: @conn, group: group %>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<%= link "New group", to: group_path(@conn, :new) %>
