<%= form_for @changeset, @action, fn f -> %>

  <%= hidden_input f, :group_id, value: value_from_changeset(@changeset, :group_id) %>
  
  <div class="form-group">
    <%= submit "Request Membership", class: "btn btn-primary" %>
  </div>
<% end %>
