<h2>Show group</h2>

<ul>

  <li>
    <strong>Name:</strong>
    <%= @group.name %>
  </li>

  <li>
    <strong>Owner:</strong>
    <%= @group.owner.name %>
  </li>

</ul>

<%= if user_can_edit_group?(@conn.assigns.current_user, @group) do %>
  <a href=<%= group_invitation_path(@conn, :index, @group) %>>
    <button class="btn btn-primary">Invitations</button>
  </a>
  <a href=<%= group_path(@conn, :edit, @group) %>>
    <button class="btn btn-primary">Edit Group</button>
  </a>
<%= end %>
