<h2>New project</h2>

<%= render "form.html", changeset: @changeset,
                        action: project_path(@conn, :create),
                        groups: groups_for_select(@conn) %>

<%= link "Back", to: project_path(@conn, :index) %>
