<h2>Edit project</h2>

<%= render "form.html", changeset: @changeset,
                        action: admin_project_path(@conn, :update, @project),
                        groups: @groups, users: @users %>

<%= link "Back", to: admin_project_path(@conn, :index) %>
