<h2>Pairs for <%= Timex.today %></h2>
<ul class="list-group">
  <%= for pair <- @pairs do %>
    <li class="list-group-item">
      <div class="row">
        <%= for user <- pair do %>
          <div class="col-sm-4">
            <p><%= user.name %></p>
          </div>
        <% end %>
      </div>
    </li>
  <% end %>
</ul>
