<h2>Edit user_group</h2>

<%= render "form.html", changeset: @changeset,
                        action: admin_user_group_path(@conn, :update, @user_group),
                        groups: @groups, users: @users %>

<%= link "Back", to: admin_user_group_path(@conn, :index) %>
