<h2>New retrospective</h2>

<%= render "form.html", changeset: @changeset,
                        action: pair_retro_path(@conn, :create),
                        projects: projects_as_select(@projects) %>

<%= link "Back", to: pair_retro_path(@conn, :index) %>
